[submodule "AutoMinion/ECommons"]
	path = AutoMinion/ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
